<div class="container" style="text-align: center;">
  <h1>{{ titulo1 }}</h1>
  <form>
    <input type="text" [(ngModel)]="nombre" name="nombre"><br><br>
    <input type="text" [(ngModel)]="apellido" name="apellido"><br><br>
    <input type="text" [(ngModel)]="cargo" name="cargo"><br><br>
    <input type="submit" value="Registrar" (click)="registrarUsuario()">
  </form>

  <p *ngIf="existe; else noexiste">{{mensaje}} con el nombre de {{nombre}} {{apellido}} y tiene el cargo de
    <span [ngClass]="{paraDirectores: cargo == 'director'}">{{cargo}}</span>
  </p>

  <ng-template #noexiste>
    <p>No existen usuarios</p>
  </ng-template>

  <br><br>

  <ul>
    <li *ngFor="let e of entradas; let i=index"><span style="font-size: larger; font-weight: bold;">{{e.titulo}}</span>
      . Entrada {{i + 1}}
    </li>
  </ul>

</div>